* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.asideWrper {
    flex: 2;
    height: 97vh;
    border-radius: 10px;
    margin: 10px 5px 10px 5px;

}

.allAsideprofile {
    width: 90%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    height: 86vh;
    overflow: scroll;
}

.inputDiv {
    width: 90%;
    margin: auto;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 20px 0px 20px 10px;
    color: black;
    border-radius: 7px;
}