* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.typecheatWWrp {
    color: black;
    width: 98%;
    background: rgb(223, 223, 223);
    margin: auto;
    height: 50px;
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;

}

.otherIcons {
    flex: .8;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px;
    color: rgb(59, 59, 59);

}

.otherIcn {
    cursor: pointer;
    color: rgb(175, 45, 175);
}

#FileAttatch {
    display: none;
}

.type {
    flex: 4;
}

.type>input {
    border: .5px solid rgb(239, 239, 239);
    outline: none;
    color: black;
    font-weight: 500;

}

.send {
    flex: .3;
    padding: 10px;
    text-align: center;
}

.sendWrp {
    margin: 7px;
    width: 36px;
    height: 36px;
    text-align: center;
    background: rgb(175, 45, 175);
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.emojiStayle {
    position: absolute;
    transform: translateY(-250px);
}